@model IEnumerable<MySqlUserEngineServices.Model.EChecklistAllowingProcessDetail>
@{
    ViewBag.Title = "Process";
    var user = (E_ChecklistWebApp.Models.EchecklistAuthenticationWithoutHash)Session["User"];
}


<link href="~/css/styles-process.css" rel="stylesheet">
<div class="container mt-5 pt-5 fade-in-section">
    <h1 class="text-center">Hello, @user.EN | Plant : @user.Plant</h1>
    <h2 class="text-center">Welcome to E-Checklist System</h2>
    <h3 class="text-center">Please select a process</h3>

    <div class="row mt-4">
        @foreach (var process in Model)
        {
            <div class="col-md-4">
                <div class="card bg-dark text-white mb-4">
                    <div class="card-body">
                        <h5 class="card-title">@process.ProcessName</h5>
                        <p class="card-text">@process.ProcessDetail</p>
                        <p class="card-text">Plant: @user.Plant</p>
                        @Html.ActionLink("Select", "Checklist", "Checklist", new { area = "", processId = process.ProcessId , processName = process.ProcessName}, new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>
        }
    </div>
</div>
