<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - E-Checklist System , Dev-Phase</title>

    <link href="~/bootstrap-5.3.3-dist/css/bootstrap.min.css" rel="stylesheet">

    <script src="~/css/scripts.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            @Html.ActionLink("E-Checklist System", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    @if (Session["User"] != null)
                    {
                        var user = (E_ChecklistWebApp.Models.EchecklistAuthenticationWithoutHash)Session["User"];
                        if (user.Role == "ADMIN")
                        {
                            <li class="nav-item">
                                @Html.ActionLink("Process", "Process", "Process", new { area = "" }, new { @class = "nav-link text-white" })
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("Engineering Feature", "Engineering", "Engineering", new { area = "" }, new { @class = "nav-link text-white" })
                            </li>
                        }
                        else if (user.Role == "ENGINEER")
                        {
                            <li class="nav-item">
                                @Html.ActionLink("Process", "Process", "Process", new { area = "" }, new { @class = "nav-link text-white" })
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("Engineering Feature", "Engineering", "Engineering", new { area = "" }, new { @class = "nav-link text-white" })
                            </li>
                        }
                        else if (user.Role == "User")
                        {
                            <li class="nav-item">
                                @Html.ActionLink("Process", "Process", "Process", new { area = "" }, new { @class = "nav-link text-white" })
                            </li>
                        }
                    }
                </ul>
                <ul class="navbar-nav ms-auto">
                    @if (Session["User"] != null)
                    {
                        var user = (E_ChecklistWebApp.Models.EchecklistAuthenticationWithoutHash)Session["User"];
                        <li class="nav-item">
                            @Html.ActionLink($"Welcome, {user.EN} | Role : {user.Role}", "Details", "UserInformation", new { area = "" }, new { @class = "nav-link text-white" })
                        </li>

                        <li class="nav-item">
                            @Html.ActionLink("Logout", "Logout", "Login", new { area = "" }, new { @class = "nav-link text-white" })
                        </li>

                    }
                    else
                    {
                        <li class="nav-item">
                            @Html.ActionLink("Sign In", "Login", "Login", new { area = "" }, new { @class = "nav-link text-white" })
                        </li>

                    }
                </ul>
            </div>
        </div>
    </nav>
    @RenderBody()
    <script src="~/bootstrap-5.3.3-dist/js/bootstrap.min.js"></script>
    <script src="~/bootstrap-5.3.3-dist/js/jquery-3.7.1.min.js"></script>
    @RenderSection("scripts", required: false)

</body>
</html>
